# Dependencies
node_modules/

# Playwright reports
playwright-report/
blob-report/
test-results/

# Playwright cache and auth
playwright/.cache/
playwright/.auth/

# Secrets
credentials.json
token.json

# Environment variables
.env
.env.*

# Logs
*.log